html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 500;
    background: white;
}

a {
    color: #3e99ed;
    text-decoration: none;
    cursor: pointer;
}

b {
    font-weight: 600;
}

h2 {
    color: #252626;
    clear: both;
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    border-bottom: none;
    text-shadow: none;
}

h1, h2.h1 {
    clear: both;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
    font-weight: bold;
    font-style: normal;
    border: 0;
}

hr {
    background: #6f7073;
}

ul {
    list-style: none !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    cursor: pointer;
}

a.right, span.right {
    float: right !important;
}

input:focus {
    outline: none;
}

.page-content {
    justify-content: left;
    position: relative;
    margin: 0 auto;;
    max-width: 1200px;
    display: flex;
    -webkit-box-pack: center;
    flex-wrap: wrap;
}

.separator {
    display: block;
    clear: both;
}

.form-input._error {
    border: 1px solid red;
    border-radius: 3px;
}

:focus {
    outline: 0;
}

section {
    display: block;
}

/*#region Main-index.php*/

.main-page__popular {
    margin: 0 0 10px 5px;
}

.main-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 58px;
    width: 100%;
}

.main-block__title {
    font: 600 32px/40px "Source Sans Pro", sans-serif;
    margin: 0 0 3px 16px;
    width: calc(100% - 135px);
}

.userbook-container {
    position: initial !important;
    display: contents;
}

.ub-container {
    position: relative;
}

.userbook-container {
    position: relative;
    text-align: left;
}

.userbook-container {
    text-align: left;
}

.slide-book__item .btn-add-plus, .slide-book__item .btn-add-plus:visited {
    color: #fff;
    margin: 10px 0 0;
}

.btn-add-plus {
    position: relative;
    border-radius: 16px;
    border: 1px solid #3E99ED;
    background-color: #3E99ED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    width: 100%;
}

.btn-add-plus::before {
    position: absolute;
    content: "Добавить";
    font: 600 16px/16px "Source Sans Pro", sans-serif;
    color: #fff;
    height: 18px;
    left: calc(50% - 27px);
    top: 0;
    bottom: 0;
    margin: auto;
}

.slide-book__item .btn-add-plus, .slide-book__item .btn-add-plus:visited {
    color: #fff;
    margin: 10px 0 0;
}

.btn-add-plus:hover {
    border-color: #3B91E0;
    background-color: #3B91E0;
}

@media (min-width: 1140px) {
    .slide-book__item {
        margin-right: 24px;
    }
}

.btn-add-plus::after {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(50% - 53px);
    background: url("/assets/images/root/icons/SVGsprite.svg") -114px -156px no-repeat;
}

/*#endregion Main-index.php*/

/*#region reader*/

/*#region index.php*/

.page-content-reader {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header-profile-login, h1.header-profile-login {
    text-shadow: 1px 1px 1px #39424C;
}

.gp-wrapper .header-profile-login, .gp-wrapper h1.header-profile-login {
    clear: none;
    font-size: 24px !important;
    line-height: 26px !important;
    display: block;
    margin-top: 2px;
}

.page-content-reader {
    justify-content: left;
}


/***Начинка страницы***/

.wrapper-ugc {
    max-width: 100%;
}

.wrapper-ugc {
    flex: auto;
    -webkit-box-flex: 1;
}

.page-content__section {
    margin-bottom: 44px;
}

.with-pad {
    position: relative;
}

.profile-into-column {
    -webkit-columns: 314px 2;
    -moz-columns: 314px 2;
    columns: 314px 2;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    -webkit-column-rule: 0;
    -moz-column-rule: 0;
    column-rule: 0;
}

.group-row-title {
    display: block;
    margin-bottom: 12px;
    line-height: 20px;
}

.card-block {
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #D2D4D6;
}

.block-border {
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.card-block {
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #D2D4D6;
}

.block-border {
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.card-block .group-title {
    background-color: rgba(57, 66, 76, 0.03);
    border-bottom: 1px solid #D8D8D8;
    padding: 10px 24px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    border-radius: 16px 16px 0 0;
}

.card-block.with-pad, .card-block .with-pad {
    padding: 22px 24px;
}

.card-block .group-title {
    background-color: rgba(57, 66, 76, 0.03);
    border-bottom: 1px solid #D8D8D8;
    padding: 10px 24px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    border-radius: 16px 16px 0 0;
}

.card-block .group-title h2 {
    display: inline-block;
}

.card-block .group-title h2, .card-block h2.group-title {
    margin-bottom: 0;
}

.header-context.profile-context {
    background: #fff;
}

.form-new .form-row.first, .form-new .form-row:first-child {
    margin-top: 0;
}

.form-new .form-row {
    width: 100%;
    margin-top: 24px;
    position: relative;
}

.tb-column-2 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.label-form {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.form-new input[type="text"] {
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 16px;
}

.form-new .form-input input[type="text"] {
    padding: 0 10px;
}

.form-new .form-input input[type="text"] {
    width: 100%;

}

.tb-column-sep {
    display: table-cell;
    padding-left: 24px;
    height: 1px;
}

.form-new select {
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    padding: 0 7px;
    font-size: 16px;
    vertical-align: top;
}

select.max {
    width: 100%;
}

.form-new .form-texteditor .text-editor-container {
    width: 100%;
}

.form-new .form-texteditor .editor-textarea {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    max-height: 90000px;
}

.form-new .form-texteditor .editor-textarea {
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: none;
    border-color: #c4c3c5;
}

.form-texteditor .editor-textarea {
    padding-bottom: 0;
}

.editor-textarea {
    background-color: white;
    border: 1px solid #d8d8d8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
}

.form-new .form-texteditor .editor-textarea textarea {
    resize: vertical;
    font-size: 16px;
}

.editor-textarea textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: transparent;
    padding-left: 10px;
    margin: 0;
    border: none;
    width: 100%;
    resize: vertical;
}

.form-new .checkboxgroup a, .form-new .radiogroup a {
    font-size: 16px;
}

.menu-item:hover, .menu-item.active, .ll2015b4 .menu-item:hover, .ll2015b4 .menu-item.active {
    color: #04a00c;
}

.menu-item.active, .ll2015b4 .menu-item.active {
    color: #000;
}

.menu-item, .ll2015b4 .menu-item {
    font-size: 14px;
    color: #39424C !important;
    display: block;
    line-height: 20px;
}

.radiogroup a.active .ub-check {
    background: url(/assets/images/root/icons/icons.png) -61px -760px no-repeat;
}

.radiogroup a .ub-check {
    background: url(/assets/images/root/icons/icons.png) -41px -760px no-repeat;
    width: 18px;
    margin-right: 8px;
    vertical-align: -4px;
}

.ub-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: -5px;
}

.form-new .checkboxgroup a, .form-new .radiogroup a {
    font-size: 16px;
}

.menu-item, .ll2015b4 .menu-item {
    font-size: 14px;
    color: #39424C !important;
    display: block;
    line-height: 20px;
}

.form-new .form-file {
    margin-right: 4px;
}

.form-bottom-checkgroup {
    margin-left: 26px;
    margin-top: 8px;
}

.form-new .form-file input[type="file"] {
    width: 100%;
}

input[type="file"] {
    height: 32px;
    line-height: 32px;
}

.div-context-more {
    position: absolute;
    visibility: visible;
    margin-top: 15px;
    margin-left: 26px;
}

.div-context-more .share-menu, .popup-likes-context .share-menu {
    padding: 0 !important;
    border: 0;
    box-shadow: 0 1px 6px rgba(57, 66, 76, 0.4);
    max-height: 290px;
    overflow-y: auto;
}

.div-context-more ul, .popup-likes-context .div-context-more ul {
    z-index: 1002;
}

.share-menu-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: auto;
}

.share-menu {
    position: absolute;
    width: auto;
    border: 1px solid rgba(156, 161, 166, 0.5);
    z-index: 1001;
    padding: 10px 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header .header-context ul.nav.context li.active {
    color: #0768D8;
    height: 48px;
    border-bottom: 4px solid #0768D8;
}

.header .header-context.profile-context ul.nav.context li.active a, .header .header-context.profile-context ul.nav.context li.active a:visited {
    color: #0768D8;
}

input.wide {
    width: 350px;
}

table.form tr td {
    padding: 5px 10px;
    height: 32px;
}

.input, input.text, input.password, input[type="password"], input.file, select {
    height: 32px;
    line-height: 32px;
    border: 1px solid #c4c3c5;
}

input.text, input.password, input[type="password"] {
    padding: 0 10px;
}

/*#endregion index.php*/

/*#region forBook*/

.block-border {
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.find-block, .card-block {
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #D2D4D6;
}

.blist-biglist .brow {
    position: relative;
}

.blist-biglist .brow .brow-inner {
    padding: 24px;
}

.blist-biglist .brow .brow-cover {
    float: left;
    text-align: center;
}

.blist-biglist .brow-cover {
    padding: 8px;
    margin: -8px;
    border-radius: 4px;
}

.cover-wrapper {
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.blist-biglist .brow .cover-wrapper {
    width: 140px;
}

.cover-rounded {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 4px rgba(57, 66, 76, 0.2);
    border-radius: 2px;
}

.cover-wrapper img {
    vertical-align: top;
}

.blist-biglist .brow .book-data {
    margin-top: 12px;
}

.userbook-container {
    position: initial !important;
    display: contents;
}

.blist-biglist .brow .book-data .userbook-container {
    width: 140px;
    margin: 0;
}

.ub-container {
    position: relative;
}

.ub-container-btn .btn-fill {
    font-size: 14px;
    line-height: 30px !important;
    border-radius: 4px;
}

.ub-container-btn .btn-fill {
    box-sizing: border-box;
    height: 32px !important;
}

.blist-biglist .brow .brow-data {
    margin-left: 164px;
    line-height: 22px;
}

.blist-biglist .brow .brow-book-name {
    color: #39424C;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.blist-biglist .brow .brow-book-name.with-cycle {
    margin-right: 10px;
}

.blist-biglist .brow .brow-book-author {
    font-style: italic;
}

.blist-biglist .brow .brow-genres {
    margin-bottom: 16px;
}

.label-genre {
    display: inline-block;
    margin: 0 10px 16px 0;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    text-transform: none;
    border-radius: 2px;
}

.label-genre {
    background-color: #ffffff;
    border: 1px solid #C7DFFF;
}

.blist-biglist .brow .brow-genres .label-genre {
    margin-bottom: 0;
    margin-top: 16px;
}

.blist-biglist .brow .brow-ratings {
    margin-top: 12px;
}

.blist-biglist .brow .brow-stats {
    margin-top: 16px;
}

.blist-biglist .brow .brow-stats a {
    color: #39424C;
    line-height: 22px;
    font-size: 14px;
    margin-right: 24px;
}

.blist-biglist .brow .brow-details {
    margin-top: 16px;
}

table.compact tr th, table.compact tr td {
    padding: 4px 14px 4px 0;
}

table.compact tr th:last-child, table.compact tr td:last-child {
    padding-right: 0;
}

.blist-biglist .brow .brow-marg {
    margin-top: 16px;
}

.blist-biglist .brow-review {
    margin: -22px 0 0 164px;
}

.card-block .group-review {
    position: relative;
}

.card-block .review-inner {
    padding-bottom: 24px;
}

.card-block.with-pad, .card-block .with-pad {
    padding: 22px 24px;
}

.rel {
    position: relative;
}

.group-login-date {
    display: block;
    margin-left: 48px;
    color: #39424C;
    margin-top: -2px;
}

.expert-review .group-review .group-login-date.dont-author, .group-review .group-login-date.dont-author, .group-login-date.dont-author {
    margin-left: 0;
}

.date-topright {
    float: right;
    margin-left: 16px;
}

.date {
    font-size: 12px;
    color: #9CA1A6;
}

.group-login-date .a-login-black {
    font-weight: bold;
    color: rgba(57, 66, 76, 0.87);
}

.card-block .backgr-block {
    border-radius: 3px;
}

.card-block .backgr-block.review, .card-block .backgr-block.review .brief-more {
    background-color: #F2F7FD;
}

.card-block .review-inner .backgr-block {
    margin: 0 24px;
}

.card-block .card-block-text {
    padding: 16px;
    line-height: 22px;
}

.card-block.with-pad, .card-block .with-pad {
    padding: 22px 24px;
}

.post-scifi-title {
    display: inline-block;
    margin-bottom: 10px;
}

.post-scifi-title, a.post-scifi-title, a.post-scifi-title:visited {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.card-block .card-block-text .post-scifi-title {
    margin-bottom: 10px;
}

.opc-054 {
    opacity: 0.54;
}


/*#endregion forBook*/

/*#region reviews*/

.page-content > h1 {
    width: 100%;
}

.ugs-sotring {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 162px;
    position: sticky;
    top: 110px;
    margin: 0 16px 0 0;
}

@media (min-width: 1140px) {
    .post-card .lenta__wrapper, .lenta__wrapper, .ugs-sotring__item a, .ugs-sotring {
        margin: 0 24px 0 0;
        width: 170px;
    }
}

.ugs-sorting__title {
    color: #88898C;
    font: 600 20px/24px "Source Sans Pro", sans-serif;
    margin: 6px 0 16px;
}

.header-card__menu {
    width: 16px;
    height: 16px;
    padding: 10px 3px 10px 15px;
    position: relative;
}

.header-card__menu::after {
    position: absolute;
    content: '';
    top: 10px;
    right: 5px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #88898C;
    -webkit-box-shadow: 0 -6px 0 0 #88898C, 0 6px 0 0 #88898C;
    box-shadow: 0 -6px 0 0 #88898C, 0 6px 0 0 #88898C;
}

.header-card__menu-block {
    display: none;
    position: absolute;
    padding: 0 12px;
    overflow: hidden;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    right: 15px;
    top: -8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    z-index: 11;
}

.show{
    display: flex;
}

.header-card__menu-block a, .header-card__menu-block a:visited {
    font: 16px/37px "Source Sans Pro", sans-serif;
    color: #252626;
    width: 100%;
    text-align: center;
    padding: 0 12px 2px;
}
.header-card__menu-block:hover {
    background-color: #EDF0F7;
}

.ugs-sotring__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: max-content;
}

.ugs-sotring__item {
    margin-bottom: 16px;
}

.ugs-sotring__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #88898C;
    color: #88898C;
    border-radius: 16px;
    font: 16px/20px "Source Sans Pro", sans-serif;
    padding: 4px 15px 6px;
    width: 162px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ugs-sotring__item a:active, .ugs-sotring__item--active a {
    background-color: #EBEDF0;
}

@media (min-width: 1140px) {
    .post-card .lenta__wrapper, .lenta__wrapper, .ugs-sotring__item a, .ugs-sotring {
        margin: 0 24px 0 0;
        width: 170px;
    }
}

.lenta-card-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 27px 0 0;
}

.review-card .lenta-card-book {
    overflow: hidden;
    position: relative;
    margin: 0 -12px 8px;
    height: 304px;
    border-radius: 14px;
}

.lenta-card-book__bg {
    position: absolute;
    -webkit-filter: blur(35px);
    filter: blur(35px);
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.lenta-card-book__link {
    position: relative;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 16px;
}

.review-card .lenta-card-book__link {
    height: 100%;
    margin: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    z-index: 5;
}

.lenta-card-book__img {
    width: 100%;
    height: auto;
    max-width: 42px;
    max-height: 64px;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: 1;
    border-radius: 3px;
}

.review-card .lenta-card-book__img {
    border-radius: 8px;
    margin: auto;
    max-width: 170px;
    max-height: 256px;
}

.lenta-card-book__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 6;
    width: calc(100% - 74px);
}

.review-card .lenta-card-book__wrapper {
    width: calc(50% + 16px);
}

.lenta-card__book-title, .lenta-card__book-title:visited {
    font: 600 16px/22px "Source Sans Pro", sans-serif;
    color: #252626;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review-card .lenta-card__book-title {
    font-size: 20px;
    line-height: 26px;
    max-height: 52px;
    margin: 52px 24px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.review-card .lenta-card__book-title, .review-card .lenta-card__author, .review-card .lenta-card__author-wrap, .review-card .lenta-card__rating {
    color: #fff;
}

.lenta-card__author-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    font-size: 14px;
    color: #252626;
    margin: 0;
}

.histories-card .lenta-card__author-wrap, .review-card .lenta-card__author-wrap {
    font-size: 16px;
    line-height: 26px;
    margin: 0 24px 12px 0;
}

.lenta-card__author, .lenta-card__author:visited {
    color: #252626;
    font: 14px/20px "Source Sans Pro", sans-serif;
}

.histories-card .lenta-card__author, .review-card .lenta-card__author {
    font-size: 16px;
}

.review-card .lenta-card-book .btn-add-plus {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
}

.review-card .lenta-card-book .btn-add-plus::after {
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background: url("/assets/images/root/icons/SVGsprite.svg") 0 -210px no-repeat;
}

.review-card .lenta-card-book .btn-add-plus::before {
    content: '';
}

.review-card .lenta-card-book .btn-add-plus::after {
    background: url("/assets/images/root/icons/SVGsprite.svg") -68px -210px no-repeat;
}

.review-card .lenta-card__rating::before {
    background: url("/assets/images/root/icons/SVGsprite.svg") -190px -182px no-repeat;
}

.lenta-card__rating {
    position: relative;
    font: 300 26px "Source Sans Pro", sans-serif;
    color: #252626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 22px;
}

.review-card .lenta-card__rating, .histories-card .lenta-card__rating {
    position: absolute;
    bottom: 128px;
    padding: 0 0 0 27px;
}

.lenta-card__rating::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    background: url("/assets/images/root/icons/SVGsprite.svg") -252px -182px no-repeat;
    width: 16px;
    height: 16px;
}

.histories-card .lenta-card__rating::before, .review-card .lenta-card__rating::before {
    width: 24px;
    height: 24px;
}

.review-card .lenta-card__rating::before {
    background: url("/assets/images/root/icons/SVGsprite.svg") -190px -182px no-repeat;
}

.left-column {
    margin-top: 85px;
}

@media (min-width: 1140px) {
    .left-column {
        width: 320px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 32px -10px 0 14px;
    }
}

@media (min-width: 1140px) {
    .left-column {
        margin-top: 4px;
    }
}

@media (min-width: 1024px) {
    .left-column {
        position: relative;
        width: 240px;
        margin: 32px 0 0 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.column-right-fixed {
    position: sticky;
    top: 92px;
}

@media (min-width: 1140px) {
    .lenta__content, .lenta__list {
        width: 621px;
        margin: 0 0 24px;
    }
}

.lenta__content, .lenta__list {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 558px;
}

/*#endregion reviews*/

/*#endregion reader*/

/*#region account*/
/*#endregion account*/

/*#region information*/
/*#endregion information*/

/*#region singleBook*/

.book-card {
    justify-content: center !important;
}

.bc-header {
    position: relative;
    width: 100%;
    margin: 0 -16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 208px;
}

.bc-header__bg-wrap {
    position: absolute;
    overflow: hidden;
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bc-header__wrap {
    position: relative;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% + 350px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 0 45px auto;
    padding-top: 33px;
}

.bc__book-title {
    font: 600 40px/40px "Source Sans Pro", sans-serif;
    margin: 0 12px 11px;
}

.bc-author {
    margin: 0 12px 20px;
    color: #252626;
    font: 300 32px/40px "Source Sans Pro", sans-serif;
}

.bc-header__bg {
    position: absolute;
    -webkit-filter: blur(35px);
    filter: blur(35px);
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bc-header__bg-wrap::after {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
}

.bc-new .bc__book-title {
    color: #fff;
    margin-top: 20px;
    font: 600 48px/49px "Source Sans Pro", sans-serif;
}

.bc-new .bc-author__link, .bc-new .bc-author {
    color: #fff;
    font: 25px/32px "Source Sans Pro", sans-serif;
}

.bc-new .bc-header {
    min-height: 192px;
}

.bc-new .bc-header__wrap {
    padding-top: 0;
}

.bc__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex: auto;
    -webkit-box-flex: 1;
    max-width: 1060px;
}

.bc-menu__wrap {
    display: block;
    height: calc(100vh - 400px);
    position: relative;
    padding-top: 24px;
}

.bc-menu__image-wrapper {
    position: relative;
    width: 162px;
    height: 244px;
    border-radius: 8px;
    margin: 0 0 16px;
    overflow: hidden;
    z-index: 2;
    background: #fff;
}

.bc-menu__image {
    width: 162px;
    height: 244px;
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
}

.bc-menu__image-wrapper::after {
    content: '';
    background: rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    position: absolute;
}

.bc-new .bc-menu__image-wrapper {
    margin-bottom: 16px;
}

.bc__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 900px;
}

.bc-menu {
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 125px;
    width: 162px;
    margin: 0 16px 0 0;
}

.bc {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 558px;
    margin-top: 16px;
}

@media (min-width: 1140px) {
    .bc {
        width: 622px;
    }
}

.bc-menu__btn {
    position: relative;
    margin: 16px 0;
    border-radius: 20px;
    height: 40px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: #6f7073;
    background: #fff;
    border: 1px solid #88898C;
    font: 15px/36px "Source Sans Pro", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bc-new .bc-menu {
    margin-top: -175px;
    z-index: 3;
}

article.bc-about {
    margin: 0;
}

.bc-menu__status-lists, .bc-menu__status-lists:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 600 12px/18px "Source Sans Pro", sans-serif;
    background-color: #3E99ED;
    border-radius: 16px;
    color: #fff;
    padding: 3px 16px;
    position: absolute;
    height: 48px;
    min-width: 138px;
    max-width: 162px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1;
}

.bc-rating {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    margin: 0 12px 22px;
}

.bc-rating-medium, .bc-rating-medium:visited {
    position: relative;
    font: 100 32px/40px "Source Sans Pro", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #252626;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 40px 9px 0;
    padding: 0 0 0 32px;
}

.bc-rating-medium, .bc-rating-medium:visited {
    font: 100 32px/30px "Source Sans Pro", sans-serif;
    font-size: 32px;
    color: #252626;
}

.bc-rating-medium::before {
    position: absolute;
    content: "";
    z-index: 6;
    top: calc(50% - 12px);
    left: 0;
    width: 24px;
    height: 24px;
    background: url("/assets/images/root/icons/SVGsprite.svg") -84px -182px no-repeat;
}

.bc-menu__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 178px;
}

.bc-menu__rating {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 14px;
}

.bc-menu__rating p {
    font: 16px/24px "Source Sans Pro", sans-serif;
    color: #3E3F40;
    margin: 0 14px;
}

input.radio, input[type="radio"] {
    margin: 0;
    padding: 0;
    border: 0;
}

.bc-menu__rating input {
    display: none;
}

.bc-menu__rating label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 3px;
    background: url("/assets/images/root/icons/SVGsprite.svg") -56px -182px no-repeat;
    width: 26px;
    height: 26px;
}

.bc-menu__rating input:hover ~ label::before,
.bc-menu__rating input:checked ~ label::before {
    background: url("/assets/images/root/icons/SVGsprite.svg") 0 -182px no-repeat;
}

.bc-menu__rating label {
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 26px;
}

.bc-menu .btn-add-plus {
    height: 40px;
    border-radius: 20px;
}

.bc-menu__rating label {
    width: calc(26px / 2 + 6px);
    flex: none;
}

.bc-menu__stars.bc-rating--full label {
    width: calc(26px + 12px);
}

.bc-menu__stars.bc-rating--full {
    margin-left: 12px;
    margin-right: -12px;
}

.bc-rating-medium span {
    z-index: 6;
}

.bc-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 29px 12px;
}

.popup-load-data {
    position: relative;
}

.bc-stat__link, .bc-stat__link:visited {
    color: #6f7073;
    font: 14px/16px "Source Sans Pro", sans-serif;
    margin: 0 43px 0 0;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bc-new .bc-stat__link {
    margin-right: 26px;
}

.bc-stat__link b {
    font-size: 20px;
    line-height: 24px;
}

.bc-genre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 12px 15px;
}

.bc-genre__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bc-new .bc-menu__rating span {
    color: #3E3F40;
    font: 18px/24px "Source Sans Pro", sans-serif;
}

@media (min-width: 1140px) {
    .bc-genre__list {
        margin: 0;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.bc-genre__list li {
    margin: 0 16px 14px 0;
    min-width: 68px;
}

.bc-new .bc-genre__list li {
    margin: 0 18px 0 0;
}

.bc-genre__list a, .bc-genre__list a:visited {
    color: #217DD1;
    font: 16px/26px "Source Sans Pro", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bc-annotation {
    margin: 0 12px 14px;
    font: 16px/24px "Source Sans Pro", sans-serif;
}

.bc-edition {
    margin: 0 12px 26px;
}

table tr td {
    vertical-align: top;
}

.bc-edition td {
    color: #252626;
    font: 16px/28px "Source Sans Pro", sans-serif;
}

td.bc-edition__header {
    width: auto;
    color: #88898C;
    padding-right: 1rem;
}

td.bc-edition__col1 {
    color: #88898C;
    width: 135px;
}

@media (min-width: 1140px) {
    .bc-edition td {
        line-height: 24px;
    }
}

.bc-edition__link, .bc-edition__link:visited {
    color: #217DD1;
}

.bc-new .bc-about {
    position: relative;
}

.bc-new .bc-rating-medium {
    margin: 0 32px 9px 0;
}

.bc-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 16px 0;
}

.bc-info__wrapper {
    border: 1px solid #D2D4D6;
    border-radius: 14px;
    padding: 20px 26px 17px 23px;
}

.bc-info__wrapper:not(:first-of-type) {
    border-radius: 0 0 14px 14px;
    border-top: none;
    margin-top: -14px;
    padding-top: 35px;
}

.bc-info__wrapper label {
    display: block;
    position: relative;
    font: 600 20px/24px "Source Sans Pro", sans-serif;
    color: #252626;
    margin-bottom: 9px;
}

.bc-info p {
    font: 16px/24px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0;
}

.bc-about__title {
    font: 600 28px/40px "Source Sans Pro", sans-serif;
    margin-bottom: 7px;
    margin-top: 30px;
}

.bc-about__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin: 0 0 41px;
}

.bc-detailing__show-all, .bc-detailing__show-all:visited {
    color: #003569;
    text-transform: uppercase;
    margin: 0 0 4px;
    font: 14px/24px "Source Sans Pro", sans-serif;
}

.header-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header-card-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-card-user__avatar {
    border-radius: 50%;
    margin: 10px 10px 10px 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    z-index: 2;
    object-fit: cover;
    -o-object-fit: cover;
}

.header-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 135px);
    margin-right: auto;
}

.header-card__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.header-card-user__name, .header-card-user__name:visited {
    font: 600 14px/16px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0 3px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

@media (min-width: 1140px) {
    .header-card-user__name {
        max-width: 300px;
    }
}

.header-card__category, .header-card__category:visited {
    font: 14px/16px "Source Sans Pro", sans-serif;
    color: #88898C;
    margin: 0 auto 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lenta-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.review-card .lenta-card {
    padding: 0 12px;
}

.lenta-card__details {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 7px;
    width: 100%;
}

.lenta-card__date, .lenta-card__aliases, .lenta-card__aliases:visited {
    position: relative;
    font: 12px/16px "Source Sans Pro", sans-serif;
    color: #88898C;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lenta-card__title, .lenta-card__title:visited {
    font: 600 20px/32px "Source Sans Pro", sans-serif;
    margin: 0 0 7px;
    color: #252626;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 128px;
}

.lenta-card__mymark {
    position: relative;
    display: inline-block;
    font: 600 21px/32px "Source Sans Pro", sans-serif;
    padding: 0 5px 0 27px;
}

.lenta-card__mymark::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    background: url(/assets/images/root/icons/SVGsprite.svg) -112px -182px no-repeat;
    width: 24px;
    height: 24px;
}

.lenta-card__title a, .lenta-card__title a:visited, .lenta-card__text > a, .lenta-card__text > a:visited {
    color: #252626;
}

.lenta-card__text {
    max-height: 240px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
}

.lenta-card__text p {
    font: 16px/24px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0;
}

.lenta-card__text, .lists__text {
    max-height: initial;
}

.bc-about__wrapper {
    position: relative;
}

/*#endregion singleBook*/

/*#region genres*/

.card-white.genre-block {
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.5);
    overflow: auto;
}

.genre-block {
    padding: 20px;
    margin-top: 30px;
    cursor: pointer;
    overflow: auto;
}

.card-white .genre-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
}

.arrow-genre-up, .arrow-genre-down {
    display: inline-block;
    width: 20px;
    height: 11px;
    vertical-align: 0;
    background: transparent url(/assets/images/root/icons/arrow-genres.png) 0 0 no-repeat;
}

.arrow-genre-down {
    background-position: 0 -12px;
}

.arrow-genre-up {
    background-position: 0 0;
}

a:hover .arrow-genre-up, a:hover .arrow-genre-down {
    opacity: 0.8;
}

.genre-books-count {
    color: #39424c;
    font-weight: normal;
    margin-left: 5px;
}

.subgenre-left {
    margin-right: 400px;
    font-size: 14px;
}

.subgenre-left.width-full {
    margin-right: 0;
    font-size: 16px;
}

.subgenre-left.width-full .subgenre {
    padding: 7px 0;
}

.subgenre {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 2px;
    line-height: 22px;
}

.arrow-down-blue {
    background: url(/assets/images/root/icons/icons.png) no-repeat -160px -500px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: -5px;
}


/*#endregion genres*/


table.form-new tr td {
    padding: 0 0 24px 0;
}

.form-input, .form-textarea {
    margin-right: 22px;
}

.form-new input[type="text"], .form-new textarea.new-form, .form-new select {
    background-color: white;
    border: 1px solid #c4c3c5;
}

.form-new input[type="text"] {
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 16px;
}

.form-new .form-input input[type="text"] {
    width: 100%;
}

.form-new .form-input input[type="text"] {
    padding: 0 10px;
}

.form-new .form-texteditor .text-editor-container {
    width: 100%;
}

.editor-textarea {
    background-color: white;
    border: 1px solid #d8d8d8;;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
}

.form-texteditor .editor-textarea {
    padding-bottom: 0;
}

.form-new .form-texteditor .editor-textarea {
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: none;
    border-color: #c4c3c5;
}

.form-new .form-texteditor .editor-textarea {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    max-height: 90000px;
}

.form-texteditor .textarea-outer {
    padding: 0 5px;
}

.editor-textarea textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    resize: vertical;
}

.form-new .form-texteditor .editor-textarea textarea {
    resize: vertical;
    font-size: 16px;
}

/*#region carousel*/

.slide-book-carousel {
    width: 100%;
}

.carousel-book {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 1;
}

.carousel-book a.prev-carousel {
    left: 0;
    background: transparent url(/assets/images/root/icons/slider-left.png) 0 0 no-repeat;
}

.carousel-book a.next-carousel {
    right: 0;
    background: transparent url(/assets/images/root/icons/slider-right.png) 0 0 no-repeat;
}

.carousel-book a.prev-carousel, .carousel-book a.next-carousel {
    z-index: 5;
    height: 68px;
    width: 25px;
    display: inline-block !important;
    position: absolute;
    top: calc(50% - 34px);
}

.carousel-book__item {
    position: relative;
    width: 170px !important;
    height: 424px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px 8px 24px 24px;
    background-color: #ffffff;
    margin: 32px 16px 0 0;
}

.carousel-book__item .bc-menu__status-lists {
    top: -24px;
}

.carousel-img__link {
    height: 256px;
    width: 170px;
    border-radius: 8px;
    z-index: 2;
    overflow: hidden;
    position: relative;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel-img__link img {
    object-fit: cover;
}

.carousel-book__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    border: 1px solid #e3e5e6;
    border-top-color: rgb(227, 229, 230);
    border-radius: 0 0 24px 24px;
    margin-top: -8px;
    color: #252626;
    padding: 18px 15px 15px;
    height: 176px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-book__title {
    font: 600 15px/16px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 32px;
    width: 100%;
}

.carousel-book__author {
    font: 14px/17px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 9px 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.carousel-book__rating {
    position: relative;
    padding: 0 0 11px 28px;
    font: 300 22px/24px "Source Sans Pro", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.carousel-right {
    float: right;
    width: 395px;
}

.carousel-right.width-full {
    margin-top: 20px;
    float: none;
    width: 100%;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.carousel-genre-books ul {
    padding-bottom: 30px;
}

.carousel-genre-books ul.swiper-wrapper .swiper-slide {
    width: 66px !important;
    height: 99px !important;
    margin-right: 16px;
}

.carousel-genre-books a.prev-carousel {
    left: 0;
    background: transparent url(/assets/images/root/icons/slider-left.png) 0 0 no-repeat;
}

.carousel-genre-books a.next-carousel {
    right: 0;
    background: transparent url(/assets/images/root/icons/slider-right.png) 0 0 no-repeat;
}

.carousel-genre-books a.prev-carousel, .carousel-genre-books a.next-carousel {
    z-index: 1;
    height: 68px;
    width: 25px;
    display: inline-block !important;
    position: absolute;
    top: 16px;
}

.subgenre-block {
    margin-top: 20px;
    font-size: 16px;
    width: 430px;
}

.carousel-genre-books {
    position: relative;
}

/*#endregion carousel*/

/*#region i-button*/

.i-tag-add {
    background: url(/assets/images/root/icons/icons.png) -100px -140px no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: -5px;
}

.i-cardclose {
    background: url(/assets/images/root/icons/icons.png) -120px -720px no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: -5px;
}

.i-group-edit {
    background: url(/assets/images/root/icons/icons.png) -220px -680px no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.i-cusers {
    background: url(/assets/images/root/icons/icons.png) no-repeat -192px -700px;
    display: inline-block;
    width: 22px;
    height: 20px;
    margin: 0;
    vertical-align: -5px;
}

.i-creviews {
    background: url(/assets/images/root/icons/icons.png) no-repeat -149px -780px;
    display: inline-block;
    width: 22px;
    height: 20px;
    margin: 0;
    vertical-align: -5px;

}

a:hover .i-group-edit {
    opacity: 0.7;
}

/*#endregion i-button*/