@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*#region header.php*/

.page-header__wrapper-mob {
    display: none;
}

.page-header {
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.page-header__wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.page-header__logo {
    display: flex;
    margin-left: 20px;
    align-items: center;
    text-decoration: none;
    outline: none;
}

.main-menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0 15px;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
}

.main-menu li a:hover {
    opacity: 1;
}

.page-header__search {
    position: relative;
    flex-grow: 1;
    margin: 0 56px;
    padding: 4px;
    width: 100%;
}

.page-header__search-form {
    position: relative;
    display: flex;
    height: 40px;
}

.page-header__search-input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #252626;
    font: 16px/32px "Source Sans Pro", sans-serif;
    background: #EDF0F7;
    cursor: pointer;
}

.page-header__search-button {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 25px;
    border-width: 0;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: rgba(66, 148, 255);
}

.page-header__login:hover {
    cursor: pointer;
}

.page-header__login {
    margin: 0 20px 0 20px;
    font-family: "Source Sans Pro", sans-serif;
    border: 0;
    padding: 10px 30px;
    background-color: rgba(55, 108, 251);
    border-radius: 100px;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(55, 108, 251, .2);
    transition: all .1s ease-in-out;
    font-weight: 500;
}

.page-header__login:hover {
    transform: scale(1.04);
    color: white;
    box-shadow: 0 9px 9px rgba(55, 108, 251, .1);
}

.user-nav {
    padding: 0 20px 0 0;
}

.user-nav__toggle {
    position: relative;
}

.user-nav__toggle {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
}

.user-nav__toggle, .user-nav__toggle img {
    width: 37px !important;
    height: 37px !important;
}

.user-nav__toggle img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 0;
    object-fit: cover;
    -o-object-fit: cover;
}

.site-nav__list, .user-nav__list {
    position: absolute;
    background: #fff;
    top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 14px 0;
    z-index: 112;
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    height: max-content;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-nav__list {
    z-index: 1006;
}

.user-nav__list {
    right: 16px;
    width: 300px;
    height: auto;
}

.site-nav__list a, .user-nav__list a, .site-nav__list a:visited, .user-nav__list a:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 1;
    color: #252626;
    font: 16px/24px "Source Sans Pro", sans-serif;
    padding: 6px 32px 10px;
}

.user-nav__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
}

.user-nav__item > a, .site-nav__item > a, .user-nav__item > a, .site-nav__item > a, .user-nav__item summary a, .site-nav__item summary a, .user-nav__item div > a, .site-nav__item div > a {
    color: #252626 !important;
}

.page-header a {
    text-decoration: none;
}

.page-header a {
    opacity: 1 !important;
}

.user-nav__item > a, .site-nav__item > a, .user-nav__item summary a, .site-nav__item summary a {
    text-transform: uppercase;
    font-weight: 600;
}

.user-nav__login img {
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    object-fit: cover;
}

.user-nav__login p {
    margin: 0 0 0 16px;
    color: #252626;
    text-transform: none;
    font: 600 20px/24px "Source Sans Pro", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 56px;
}

.user-nav__item summary, .site-nav__item summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.user-nav__item details[open] summary::after, .site-nav__item details[open] summary::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 17px;
}

.user-nav__item summary::after, .site-nav__item summary::after {
    position: absolute;
    content: '';
    right: 23px;
    top: 11px;
    width: 9px;
    height: 9px;
    border-left: 1px solid #252626;
    border-top: 1px solid #252626;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.user-nav__item div, .site-nav__item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 8px;
}

.site-nav__list summary:hover, .user-nav__list summary:hover, .site-nav__list a:hover, .user-nav__list a:hover, .site-nav__list a:active, .user-nav__list a:active {
    background: #EDF0F7;
}

.user-nav__item summary, .site-nav__item summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

@media (max-width: 768px) {

    .page-header__wrapper-mob {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        font: 400 14px/16px "Source Sans Pro", sans-serif;
        flex-direction: column;
    }

    .page-header__wrapper {
        display: none;
    }

    .page-header__mob {
        display: flex;
        text-align: center;
        width: 95%;
        justify-content: space-between;
    }

    .page-header__login-mob:hover {
        cursor: pointer;
    }

    .page-header__login-mob {
        font-family: "Source Sans Pro", sans-serif;
        border: 0;
        margin: 10px 0 10px 0;
        padding: 10px 30px;
        background-color: rgba(55, 108, 251);
        border-radius: 100px;
        color: white;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(55, 108, 251, .2);
        font-weight: 500;
    }

    .page-header__login-mob:hover {
        transform: scale(1.04);
        color: white;
        box-shadow: 0 9px 9px rgba(55, 108, 251, .1);
    }

    .page-header__search-mob {
        position: relative;
        flex-grow: 1;
        padding: 4px;
        width: 100%;
    }

    .page-header__search-mob {
        width: 95%;
    }

    .user-nav {
        padding: 10px;
    }

}

#tinyalert {
    position: fixed;
    z-index: 10007;
    max-height: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #000000;
    top: 11px;
    right: 11px;
}

#tinyalert > div {
    width: 240px;
    margin: 0 0 14px;
    -moz-box-shadow: 1px 1px 3px #c8c8c8;
    -webkit-box-shadow: 1px 1px 3px #c8c8c8;
    box-shadow: 1px 1px 3px #c8c8c8;
    position: relative;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}

#tinyalert > div.green {
    background-color: #9fe581;
    padding: 14px 21px;
}

#tinyalert > div.red {
    background-color: #FF7575;
    padding: 14px 21px;
}

a.action {
    display: inline-block;
    white-space: nowrap;
    color: #757B82;
    text-decoration: none;
    font-size: 80%;
    line-height: 140%;
}

.a-close {
    position: absolute;
    top: 0;
    right: 0;
}

.a-close .i-clear {
    background: url(/assets/images/root/icons/sprite.png) no-repeat -51px -17px !important;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: -4px;
}

/*#endregion header.php*/

/*#region footer.php*/


footer {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.footer-wrapper {
    position: relative;
    border-radius: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 32px 48px 28px;
    gap: 77px;
    width: auto;
    height: auto;
    margin: 16px 0;
}

.light-bg {
    background-color: #edf0f7;
    color: #252626;
}

.footer-info {
    width: 30%;
}

.footer-logo-block {
    color: #6f7073;
    gap: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-logo-block-wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex: min-content;
}

.footer-soc, .footer-logo-block {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 0 0 auto;
}

.footer-copyright {
    font: 400 12px/16px "Source Sans Pro", sans-serif;
    flex: 0 0 auto;
    display: block;
    margin: 0 20px 0 0;
}

.footer-age {
    font: 300 26px/26px "Source Sans Pro", sans-serif;
    margin: 0 0 8px;
    flex: 0 0 auto;
    display: block;
}

.footer-soc__item {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    min-width: 32px;
}

.footer-soc__item:nth-of-type(1) {
    background-image: url("/assets/images/root/icons/telegram.svg");
}

.footer-soc__item:nth-of-type(2) {
    background-image: url("/assets/images/root/icons/vkontakte.svg");
}

.footer-soc__item:nth-of-type(3) {
    background-image: url("/assets/images/root/icons/okru.svg");
}

p:last-child {
    margin-bottom: 0;
}

.footer-menu {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    margin: 2px 0 0;
    width: 70%;
}

.footer-menu a {
    text-decoration: none !important;
}

.footer-menu a {
    color: #252626;
    font: 400 16px/24px "Source Sans Pro", sans-serif;
}

.footer-information p, .footer-cooperation p, .footer-support p {
    font: 600 18px/28px "Source Sans Pro", sans-serif;
    margin: 0;
}

.footer-information, .footer-cooperation, .footer-support {
    width: auto;
    padding: 0 20px 0 0;
}

.footer-info__item, .footer-cooperation__item, .footer-support__item {
    display: block;
}

.footer-menu-mob {
    display: none;
}

@media (max-width: 1024px) {
    footer {
        padding: 0 16px;
        max-width: 1024px;
    }

    .footer-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 18px;
    }

    .footer-info {
        order: 2;
        display: -ms-grid;
        display: grid;
        grid-template-columns: calc(45% - 3px) 1fr;
        grid-template-rows: auto auto;
        justify-content: space-between;
        align-items: center;
        grid-template-areas: "footer-soc footer-apps" "footer-logo-block footer-apps";
        max-width: 100%;
        width: 100%;
        gap: 0 55px;
    }

    .footer-soc {
        grid-area: footer-soc;
        margin: 0 0 18px;
    }

    .footer-logo-block {
        grid-area: footer-logo-block;
    }

    .footer-menu {
        order: 1;
        gap: 40px;
        width: 100%;
        margin: 0;
    }

    .footer-information,
    .footer-cooperation,
    .footer-support {
        padding: 0;
    }
}

@media (max-width: 640px) {
    .footer-wrapper {
        padding: 16px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer-logo-block-wrapper {
        display: none;
    }

    .footer-menu-mob {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        width: 100%;
        font: 400 14px/16px "Source Sans Pro", sans-serif;
    }

    .footer-menu-mob .menu-mob-list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }

    .footer-menu-mob a {
        color: #252626;
    }

    .footer-menu {
        display: none;
    }


    .footer-info {
        order: 2;
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: start;
        grid-template-areas: "footer-soc" "footer-apps";
        width: 100%;
        gap: 0;
        max-width: 240px;
    }

    .footer-logo-block {
        grid-area: none;
        position: absolute;
        right: 16px;
        bottom: 20px;
    }
}

@media (max-width: 500px) {
    .footer-wrapper {
        border-radius: 16px;
        gap: 21px;
        padding: 16px 16px 24px;
    }

    .footer-info {
        gap: 6px;
    }

    .footer-apps {
        margin: 0;
    }

    .footer-age {
        margin: 0;
    }
}

/*#endregion footer.php*/

/*#region profile-header.php*/

.header {
    min-width: initial !important;
}

.header {
    z-index: 110;
    width: 100%;
    background: #fff;
    margin-bottom: 15px;
    min-width: 1000px;
}

.main-body .header {
    margin-bottom: 0;
}

.gp-wrapper.group-profile#profile-bg-wrapper, .gp-wrapper.user-profile#profile-bg-wrapper {
    background-size: contain !important;
}

.user-profile#profile-bg-wrapper {
    overflow: visible;
    background-size: cover !important;
    margin: 0 !important;
}

.page-content-reader #profile-bg-wrapper {
    border-radius: 24px;
    background-size: cover !important;
    margin: 0 !important;
}

.user-profile {
    height: 148px;
    width: 100%;
}

.gp-wrapper {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 0 1px 1px #39424C;
    -webkit-font-smoothing: antialiased;
}

.gp-wrapper .gp-table {
    height: 148px;
    width: 100%;
}

.gp-wrapper .gp-outer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.gp-wrapper .gp-inner {
    margin: 0 41px;
    position: relative;
}

.gp-wrapper .gp-table .gp-avatar {
    vertical-align: middle;
    padding: 0 24px 0 0;
    width: 100px;
}

.gp-wrapper div.profile-avatar {
    width: 96px;
    height: 96px;
    vertical-align: middle;
}

.gp-wrapper .gp-table .gp-details {
    vertical-align: middle;
}

.gp-wrapper .gp-more {
    float: right;
}

.gp-wrapper .header-profile-login, .gp-wrapper h1.header-profile-login {
    clear: none;
    font-size: 24px !important;
    line-height: 26px !important;
    display: block;
    margin-top: 2px;
}

.group-more-menu {
    background: url(/assets/images/root/icons/icons.png) -100px -610px no-repeat;
    width: 18px;
    height: 10px;
    display: inline-block;
}

div.profile-avatar {
    display: inline-block;
    width: 106px;
    height: 106px;
    position: relative;
    background-size: cover !important;
    background: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px solid white;
}

.ll-select {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 100%;
}

.btn-icon-empty.btn-wh {
    background: #fff !important;
}

.btn-icon-empty {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 0;
    line-height: 29px;
    border: 2px solid #39424c;
    border-radius: 3px;
    color: #39424c !important;
}

.btn-fill, .btn-fill-empty, .btn-icon-empty, .btn-icon {
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
    text-shadow: none;
    font-style: normal;
}

.div-context-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(57, 66, 76, 0.08);
    z-index: 1001;
}

.ll-select.ll-select-more .ll-select-holder {
    top: 25px;
    right: 0;
    left: auto;
    text-align: left;
}

.ll-select .ll-select-holder {
    position: absolute;
    top: 36px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(57, 66, 76, 0.4);
    border-radius: 3px;
    z-index: 300;
    min-width: 100%;
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.ll-select .ll-select-row {
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 16px;
    height: auto !important;
    min-height: auto !important;
    padding: 12px 16px;
    line-height: 24px !important;
    display: block;
    white-space: nowrap;
    color: #39424C !important;
    position: relative;
    text-shadow: none;
}

.ll-select-row:hover {
    background: rgb(236, 243, 252);
}

.userpic-edit {
    display: none;
    position: absolute;
    bottom: 0;
    height: 25px;
    left: 0;
    right: 0;
}

.userpic-edit-a {
    display: block;
    line-height: 25px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    color: #fff !important;
    background: rgba(0, 0, 0, 0.5);
}

.userpic-edit.active {
    display: block;
}

.popup-back {
    display: none;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 1001;
    position: fixed;
    height: 100%;
    width: 100%;
}

.find-block, .card-block {
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #D2D4D6;
}

.block-border {
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.header a {
    text-decoration: none;
}

.card-block .group-title {
    background-color: rgba(57, 66, 76, 0.03);
    border-bottom: 1px solid #D8D8D8;
    padding: 10px 24px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    border-radius: 16px 16px 0 0;
}

.card-block.with-pad, .card-block .with-pad {
    padding: 22px 24px;
}

.with-pad {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
}

.margs-top {
    margin-top: 16px;
}

#imgouter {
    position: relative;
    border: none;
    z-index: 200;
    padding: 1px;
    margin: -1px;
}

a.right, span.right {
    float: right !important;
}

.card-block .group-title h2 {
    display: inline-block;
}

.card-block .group-title h2, .card-block h2.group-title {
    margin-bottom: 0;
}

.with-pad p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #252626;
    text-shadow: none;
}

.picture-form-right {
    float: left;
    width: 450px;
    margin-top: 1px;
}

.picture-size {
    font-size: 14px;
    line-height: 17px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
    color: #252626;
    text-shadow: none;
    font-style: normal;
    font-weight: 400;
}

input.file, input[type="file"], textarea, select {
    color: #222222;
}

input[type="file"] {
    height: 32px;
    line-height: 34px;
}

input.file, input[type="file"], textarea, select, .form-scroll {
    font-family: 'PT Sans', Tahoma, Helvetica, sans-serif;
    vertical-align: middle;
    border: 1px solid #C5C5C5;
    background: #fff;
    color: #757478;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.marg-top {
    margin-top: 24px;
}

.form-new input[type="text"] {
    line-height: 32px;
    height: 34px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 16px;
}

.form-new input[type="text"], .form-new textarea.new-form, .form-new select {
    background-color: white;
    border: 1px solid #c4c3c5;
}

input.file, select {
    height: 34px;
    line-height: 34px;
}

input.file, input[type="file"], textarea, select, .form-scroll {
    font-family: 'PT Sans', Tahoma, Helvetica, sans-serif;
    vertical-align: middle;
    border: 1px solid #C5C5C5;
    background: #fff;
    color: #757478;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;;
}

.card-block .group-title h2 a, .card-block h2.group-title a {
    color: #222222;
}

.mymark {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url("/assets/images/root/icons/SVGsprite.svg") -138px -183px no-repeat;
}

.marg-right {
    margin-right: 24px;
}

.btn-fill {
    border: 0;
    background-color: rgba(55, 108, 251) !important;
    color: #fff !important;
    line-height: 33px;
    cursor: pointer;
    height: auto;
    padding: 0 25px;
    font-weight: 500;
    border-radius: 50px;
}

.card-block .block-bottom {
    background: #F9F9F9;
    border-radius: 0 0 16px 16px;
}

.card-block .block-border-t, .card-block .block-border-b, .card-block .block-border-tb {
    border-color: #d8d8d8;
}

.card-block .block-bottom {
    background-color: rgba(57, 66, 76, 0.03);
    border-radius: 0 0 3px 3px;
}

.with-mpad {
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
}

.block-border-t {
    border-color: #d8d8d8;
}

.with-mpad {
    padding: 15px 24px;
}

.with-mpad {
    padding: 20px 24px;
}

.block-border-t {
    border-top: 1px solid #ebebeb;
    border-top-color: rgb(235, 235, 235);
}

.btn-fill-empty.btn-wh {
    background: #fff !important;
}

.btn-fill-empty {
    background-color: transparent !important;
    color: #39424c !important;
    border: 1px solid #39424c;
    height: 30px;
    line-height: 29px;
    cursor: pointer;
    padding: 0 25px;
    font-weight: 500;
    border-radius: 50px;
}

/*#endregion  profile-header.php*/

/*#region edit-header.php*/

.header-profile-login, h1.header-profile-login {
    text-shadow: 1px 1px 1px #39424C;
}

.header-profile-login, h1.header-profile-login {
    margin: 0;
    color: #FFF;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 23px !important;
    display: inline;
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
    -webkit-font-smoothing: antialiased;
}

.header-profile-login, h1.header-profile-login {
    text-shadow: 1px 1px 1px #39424C;
}

.page-content .header-context.under-block {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header .header-context.under-block {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(57, 66, 76, 0.2);
    border: 0;
}

.header-context.profile-context {
    background: #fff;
}

.header-context.profile-context {
    height: 50px;
    line-height: 60px;
}

.header .header-context {
    background-color: white;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    height: 60px;
    border-bottom: 2px solid #dadadb;
    line-height: 50px;
    font-size: 13px;
}

.page-content .header .header-context .header-container {
    width: 100%;
}

.header .header-context .header-container {
    width: 960px;
    padding: 0;
    margin: 0 auto;
}

.page-content .header-container {
    min-width: 768px;
}

.header-container {
    margin: 0 20px;
    max-width: 1138px;
    min-width: 938px !important;
    position: relative;
}

#menu-inner {
    padding-left: 10px;
    margin-left: -10px;
}

.header .header-context #menu-inner ul.nav.context {
    text-align: left;
}

.header .header-context ul.nav.context {
    margin-left: -10px;
    line-height: 0;
}

.header .header-context.profile-context ul.nav.context li.active {
    height: 60px;
    border-bottom-width: 4px;
}

.header .header-context.profile-context ul.nav.context li {
    height: 60px;
    line-height: 60px;
}

.header .header-context ul.nav.context li.active {
    color: #0768D8;
    height: 48px;
    border-bottom: 4px solid #0768D8;
}

.header .header-context ul.nav.context li {
    display: inline-block;
    height: 60px;
    margin: 0 10px;
    line-height: 50px;
    vertical-align: top;
}

.header .header-context ul.nav.context li {
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    vertical-align: top;
}

.header .header-context ul.nav.context li ul li, .header .header-context.profile-context ul.nav.context li ul li, .header .header-context ul.nav.context li ul li.active {
    height: auto;
    line-height: 19px;
    display: block;
    padding: 0;
    border: none;
}

.share-menu-ul.oneline li {
    white-space: nowrap;
}

.div-context-more .share-menu-ul li, .popup-likes-context .share-menu-ul li, .popup-likes-context .share-menu-ul li a {
    line-height: normal !important;
    height: auto !important;
}

.header .outer .middle ul.nav li .share-menu-ul li.mainmenu-more-title, .header .outer .middle ul.nav li .share-menu-ul li a, .header .outer .middle ul.nav li .share-menu-ul li a, .header .outer .middle ul.nav li .share-menu-ul li a:visited, .header .share-menu-ul li a, #div-context-friend.div-context-more .share-menu-ul li a {
    display: block;
    padding: 12px 16px !important;
    height: auto !important;
    min-height: auto !important;
    font-size: 16px;
    font-weight: 400;
}

.div-context-more .share-menu-ul li a, .popup-likes-context .share-menu-ul li a, .menu-more-container .div-context-more .share-menu-ul li a {
    padding: 12px 16px !important;
    line-height: 24px !important;
    color: #39424C !important;
    min-height: 0;
    font-size: 16px;
}

.div-context-more .share-menu-ul li:hover, .popup-likes-context .share-menu-ul li:hover {
    background-color: rgba(7, 104, 216, 0.08);
    opacity: 1;
}

.header .header-context.profile-context ul.nav.context li a, .header .header-context.profile-context ul.nav.context li a:visited {
    font-size: 16px;
    color: #000;
}

.header .header-context.profile-context ul.nav.context li a {
    display: inline-block;
}

/*#endregion edit-header.php*/

/*#region header-popup.php*/

/*#region AuthForm*/

.popup__regForm {
    display: none;
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    background: #fff;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    height: 616px;
    width: 508px;
    flex-direction: column;
}

.popup__modal {
    z-index: 10001;
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    display: none;
}

.popup__regForm.open {
    display: block;
}

.popup_open {
    display: block;
}

.popup__wrapper {
    padding: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    -webkit-box-align: center;
}

.popup__btn-close {
    position: absolute;
    height: 24px;
    right: 24px;
    top: 32px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.popup__btn-close::before,
.popup__btn-close::after {
    position: absolute;
    content: "";
    background-color: #88898c;
    width: 1.33px;
    height: 19px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    left: 12px;
}

.popup__btn-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup__logo {
    text-align: center;
}

.popup__title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.popup__title h1 {
    font-size: 24px;
    margin: 0 !important;
}

.popup__input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;
}

.popup__login {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    border: none;
    background: #EDF0F7;
    border-radius: 100px;
    padding: 20px;
}

.popup__password {
    display: flex;
    width: 100%;
    height: 40px !important;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    background: #EDF0F7;
    border-radius: 100px;
    padding: 20px !important;
    box-sizing: border-box;
    outline: none;
    color: #252626;
    border: none !important;
}

.popup__space {
    width: 100%;
    height: 165px;
}

.popup__btn-login {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    border: 0;
    padding: 10px;
    background-color: rgba(55, 108, 251);
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.popup__btn-newAccount {
    font-family: "Source Sans Pro", sans-serif;
    border: 0;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(55, 108, 251);
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.popup__label {
    height: 30px;
}

.popup__new-p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #6f7073;
}

.popup__new-p:before, .popup__new-p:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #6f7073;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}

.popup__new-p:before {
    right: 15px;
    margin: 0 0 0 -100%;
}

.popup__new-p:after {
    left: 15px;
    margin: 0 -100% 0 0;
}

.popup__submit, .popup__forgot {
    margin-top: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    text-align: center;
    justify-items: center;
    color: #6f7073;
}

.popup__password-form {
    position: relative;
    display: flex;
    height: 40px;
}

.popup__showHideButton {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
    right: 0;
    display: flex;
    padding: 13px;
    margin: 8px 15px 0 0;
}

.popup__showHideButton.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.popup__reg-error {
    position: relative;
    color: #FA385D;
    font: 14px/16px "Source Sans Pro", sans-serif;
    text-align: center;
    margin-top: 10px;
}

.popup__reg-email-error {
    position: relative;
    color: #FA385D;
    font: 14px/16px "Source Sans Pro", sans-serif;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 550px) {
    .popup__regForm {
        height: 550px;
        width: 450px;
    }

    .popup__space {
        height: 80px;
    }
}

@media (max-width: 450px) {
    .popup__regForm {
        height: 550px;
        width: 380px;
    }

    .popup__space {
        height: 80px;
    }
}

@media (max-width: 380px) {
    .popup__regForm {
        height: 520px;
        width: 350px;
    }

    .popup__space {
        height: 80px;
    }
}

/*#endregion AuthForm*/

/*#region ForgotForm*/

.popup__forgotPass {
    display: none;
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    background: #fff;
    animation-duration: 0.5ms;
    animation-fill-mode: both;
    animation-name: fadeIn;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    height: 616px;
    width: 508px;
    flex-direction: column;
}

.popup__forgotPass.open {
    display: block;
    z-index: 100000;
}

.popup__title-forgot {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    flex-direction: column;
}

.popup__title-forgot h1 {
    margin: 0 !important;
    font-size: 26px;
    width: 100%;
    text-align: center;
}

.popup__email {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-top: 45px;
    font-family: "Source Sans Pro", sans-serif;
    border: none;
    background: #EDF0F7;
    border-radius: 100px;
    padding: 20px;
    align-items: center;
}

.popup__send-code {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    border: 0;
    padding: 10px;
    background-color: rgba(55, 108, 251);
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.popup__btn-back {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    top: 32px;
    left: 32px;
}

.popup__btn-back::before {
    position: absolute;
    content: '';
    top: 6px;
    left: 9px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #000;
    border-right: none;
    border-top: none;
}

@media (max-width: 550px) {
    .popup__forgotPass {
        height: 550px;
        width: 450px;
    }

    .popup__space {
        height: 80px;
    }
}

@media (max-width: 450px) {
    .popup__forgotPass {
        height: 550px;
        width: 380px;
    }

    .popup__space {
        height: 80px;
    }
}

@media (max-width: 380px) {
    .popup__forgotPass {
        height: 520px;
        width: 350px;
    }

    .popup__space {
        height: 80px;
    }
}

/*#endregion ForgotForm*/

@media (max-height: 625px) and (orientation: landscape) {
    .popup__regForm {
        height: 415px;
        width: 508px;
    }

    .popup__forgotPass {
        height: 415px;
        width: 508px;
    }

    .popup__space {
        height: 40px;
    }

    .popup__new-p {
        display: none;
    }

    .popup__submit {
        display: none;
    }

    .popup__btn-newAccount {
        margin-top: 15px;
    }

    .popup__logo img {
        width: 200px;
        height: 60px;
    }
}

@media (max-height: 400px) and (orientation: landscape) {
    .popup__regForm {
        height: 360px;
        width: 508px;
    }

    .popup__forgotPass {
        height: 360px;
        width: 508px;
    }

    .popup__space {
        height: 10px;
    }

    .popup__new-p {
        display: none;
    }

    .popup__submit {
        display: none;
    }

    .popup__btn-newAccount {
        margin-top: 10px;
    }

    .popup__logo img {
        width: 200px;
        height: 55px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*#endregion  header-popup.php*/

/*#region no-book.php*/

.container {
    width: 1200px !important;
}

.container-main {
    position: relative;
}

.es-top-wrapper.for-books {
    margin-bottom: 16px;
}

.find-block, .card-block {
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #D2D4D6;
}

.block-border {
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.es-top-wrapper .with-pads {
    padding: 40px 48px 40px 0;
}

.with-pads {
    position: relative;
    width: 850px;
}

.es-top-wrapper .es-img {
    float: left;
    text-align: center;
    width: 215px;
}

.es-top-wrapper .es-img img {
    vertical-align: top;
}

.es-top-wrapper .es-data {
    margin-left: 215px;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
    color: #39424C;
}

/*#endregion  no-book.php*/

/*region action-popup.php*/

.add-book {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-pack: center;
    -webkit-box-align: start;
}

.add-book__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 508px;
    height: 618px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.add-book__header {
    position: relative;
    padding-bottom: 6px;
    border-bottom: 1px solid gainsboro;
}

.add-book__close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.94 12l6.248-6.247-.94-.94L12 11.06 5.753 4.812l-.94.94L11.06 12l-6.248 6.247.94.94L12 12.94l6.247 6.248.94-.94L12.94 12z' fill='%23252626'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.add-book__modal-title {
    margin: 34px 64px 0;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: black;
}

p:last-child {
    margin-bottom: 0;
}

.add-book__book-title {
    display: -webkit-box;
    height: 2.4em;
    margin-right: 64px;
    margin-left: 64px;
    overflow: hidden;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2em;
    color: black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.add-book__body {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.add-book__action-list {
    position: relative;
}

.add-book__action-item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    -webkit-box-pack: start;
    -webkit-box-align: center;
}

.add-book__action-item.selected {
    background-color: whitesmoke;
}

.add-book__action-item.extendable.selected {
    padding-bottom: 48px;
}

input.radio, input[type="radio"] {
    margin: 0;
    padding: 0;
    border: 0;
}

.hidden {
    display: none !important;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.add-book__action-item > input[type="radio"] {
    display: none;
}

.add-book__rating input {
    display: none;
}

.add-book__action-title {
    flex-basis: 159px;
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 64px;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: cornflowerblue;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-book__action-item.selected .add-book__action-title {
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.312 11.312l4.872-4.873a1.5 1.5 0 112.122 2.122l-5.91 5.91c-.051.05-.105.097-.16.14a1.5 1.5 0 01-1.988-.12L6.94 11.18a1.5 1.5 0 112.122-2.12l2.251 2.25z' fill='%23252626'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 29px center;
}

.add-book__action-item.rating-in-popup {
    position: absolute;
    left: 0;
    border: none;
}

.add-book__action-title_thin {
    font-weight: 400;
    color: black;
    white-space: nowrap;
    background-color: white;
    border: none;
}

.add-book__action-item.rating-in-popup .add-book__action-title {
    transform: translateY(-2px);
}

.add-book__action-item.rating-in-popup .add-book__action-title {
    background-color: transparent;
}

.add-book__action-item .add-book__rating {
    transform: translate(1px, -2px);
    margin: auto;
}

.add-book__rating {
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
}

.add-book__rating label {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 26px;
    cursor: pointer;
}

.add-book__action-item.rating-in-popup label {
    width: calc(26px + 12px);
}

.add-book__rating input:checked ~ label::before {
    background-position: 0 -182px;
    visibility: visible;
}
.add-book__action-item.rating-in-popup label::before {
    left: 6px;
}

.add-book__rating input:checked ~ label::before {
    background-position: 0 -182px;
}

.add-book__rating label::before, .add-book__rating label::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url('/assets/images/root/icons/SVGsprite.svg');
    background-repeat: no-repeat;
    background-position: -56px -182px;
}

.add-book__footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.add-book__footer-buttons {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin-right: -12px;
    margin-left: -12px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: justify;
}

.add-book__save-button {
    flex: initial;
    width: calc(100% - 40px * 2);
    margin-right: 40px;
    margin-left: 40px;
    padding: 12px 16px 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    border-radius: 24px;
    -webkit-box-flex: initial;
}

.add-book__save-button_outline {
    margin-bottom: 16px;
    font-weight: 400;
    color: dimgray;
    background-color: white;
    border: 1px solid gray;
}

.add-book__footer-buttons .add-book__save-button {
    width: calc(100% - 12px * 2);
    margin-right: 12px;
    margin-bottom: 0;
    margin-left: 12px;
}

.add-book__save-button:hover, .add-book__save-button:focus {
    background-color: #507ccc;
    cursor: pointer;
}

.add-book__save-button_outline:hover,
.add-book__save-button_outline:focus {
    background-color: rgba(237, 240, 247, 0.5);
    cursor: pointer;
}

.add-book__modal-remove, .add-book__modal-save {
    position: absolute;
    top: -9px;
    left: 50%;
    z-index: 10;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
    width: 444px;
    height: 227px;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.add-book__modal-remove p, .add-book__modal-save p {
    display: inline-flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: black;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.add-book__modal-remove div, .add-book__modal-save div {
    display: -webkit-box;
    display: flex;
    flex: none;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-flex: 0;
}

.add-book__modal-remove button, .add-book__modal-save button {
    flex: none;
    width: 182px;
    padding: 5px 20px 9px;
    font-size: 16px;
    line-height: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    -webkit-box-flex: 0;
}

.add-book__modal-remove button:nth-of-type(1), .add-book__modal-save button:nth-of-type(1) {
    font-weight: 400;
    color: dimgray;
    background-color: white;
    border-color: gray;
}

.add-book__modal-remove button:nth-of-type(2), .add-book__modal-save button:nth-of-type(2) {
    font-weight: 600;
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

/*endregion action-popup.php*/
